  <div class="login-topbar">
    <img src="../layout/images/logo-olympia-white.png" alt="olympia-layout" />
    <span class="app-title">Olympia</span>
  </div>
  <div class="login-panel">
    <h1>SIGN IN TO OLYMPIA</h1>
    <p>Welcome, please use the form to sign-in.</p>
    <div class="input-wrapper">
      <label for="username">Username</label>
      <input type="text" autocomplete="off" id="username" class="ui-inputtext ui-widget">
    </div>
    <div class="input-wrapper">
      <label for="password">Password</label>
      <input type="password" autocomplete="off" id="password" class="ui-inputtext ui-widget">
    </div>
    <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
      <span class="ui-button-text ui-c">Login</span>
    </button>

    <div class="separator"></div>

  </div>